adal==1.2.7
aiohttp==3.8.5
aiosignal==1.3.1
altair==4.0.0
anyio==3.7.1
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
async-timeout==4.0.2
atomicwrites==1.4.0
azure-common==1.1.28
azure-core==1.21.1
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==8.2.0
azure-mgmt-core==1.3.0
azure-mgmt-keyvault==9.3.0
azure-mgmt-resource==20.1.0
azure-mgmt-storage==19.1.0
azureml-core==1.38.0.post2
azureml-dataprep==2.27.1
azureml-dataprep-native==38.0.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blinker==1.6.2
boto==2.49.0
brotlipy==0.7.0
cachetools==5.3.1
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.6
conda-verify==3.4.2
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
distro==1.7.0
docker==5.0.3
dotnetcore2==2.1.23
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.2
extra-streamlit-components==0.1.56
fonttools==4.25.0
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
gspread==5.10.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
humanfriendly==10.0
inflection==0.5.1
isodate==0.6.1
jeepney==0.7.1
jmespath==0.10.0
jsonpickle==2.1.0
knack==0.8.2
llvmlite==0.37.0
locket==0.2.1
markdown-it-py==3.0.0
mccabe==0.6.1
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
msal==1.17.0
msal-extensions==0.3.1
msrest==0.6.21
msrestazure==0.6.4
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector==2.2.9
navigator-updater==0.2.1
ndg-httpsclient==0.5.1
nltk==3.6.5
oauthlib==3.2.0
openpyxl==3.0.10
pandas==1.4.3
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.2.0
pkginfo==1.7.1
plotly==4.14.3
ply==3.11
portalocker==2.4.0
protobuf==3.20.3
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.3.0
pycosat==0.6.3
pycurl==7.44.1
pydeck==0.8.1b0
Pygments==2.15.1
PyJWT==2.8.0
pyls-spyder==0.4.0
Pympler==1.0.1
PyMySQL==1.1.0
pyodbc===4.0.0-unsupported
pyreadline==2.1
pyreadline3==3.4.1
pytest==6.2.4
python-decouple==3.8
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pywin32==227
PyYAML==6.0
requests-oauthlib==1.3.1
retrying==1.3.4
rich==13.4.2
rsa==4.9
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
SecretStorage==3.3.1
semver==3.0.1
simplegeneric==0.8.1
sip==4.19.13
smmap==5.0.0
Sphinx==4.2.0
SQLAlchemy==2.0.19
statsmodels==0.12.2
streamlit==1.12.0
streamlit-aggrid==0.3.4.post3
streamlit-authenticator==0.2.2
streamlit-javascript==0.1.5
streamlit-option-menu==0.3.6
tables==3.6.1
tabulate==0.8.9
TBB==0.2
terminado==0.9.4
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
webencodings==0.5.1
websocket-client==1.2.3
win-unicode-console==0.5
wincertstore==0.2
xlwings==0.24.9
xlwt==1.3.0
yarl==1.9.2
zict==2.0.0
zope.event==4.5.0